*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans ', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
    color: #fff;
}
div img{
    display: block;
    width: 100%;

}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320 px;
    
}

header{
    background-color: #143259;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;

}

.list-items{
    color: #fff;
}

header .menu{
    justify-content: space-between;
    align-items: flex-end;
}


    

.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao{
    min-height: 200px;
}

.texto-apresentacao h1{
    color:#0E2F59;
    font-size: 48px;
    margin-bottom: 30px;
}

.ml2 {
    font-weight: 900;
    font-size: 3.5em;
    margin-bottom: -80px;
  }
  
  .ml2 .letter {
    display: auto inline-block;
    line-height: 1em;
  }

.texto-apresentacao a{
    background-color: #0E2F59;
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

}

#quem-somos{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

}

#quem-somos h2{
    font-size: 32px;
    color: #0E2F59;
    display: flex;
}

#quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #0E2F59;
    margin-bottom: 20px;
}

#quem-somos p{
    margin-bottom: 20px;
}

#quem-somos img{
    min-width: 320px;
}

.container-externo{
    background-color: #0E2F59;
    width: 100%;
    height: 410px;
    
}

#serviços{
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
}

#serviços h2{
    color: white;
    font-size: 32px;
    margin-bottom: 25px;
    margin-top: -25px;
}

.list-serviços{
    display: flex;
    justify-content: space-between;
}

.list-serviços .item-serviço{
    text-align: center;
}

.item-serviço a{
    width: 120px;
    background-color: #fff;
    border-radius: 30px ;
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding: 5px 10px;
    color: #0E2F59;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
}

.item-serviço p{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin: 5px;
}

.item-serviço img{
    width: 80%;
    margin: auto;
}

#planos{
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;

}

.list-planos{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#planos h2{
    font-size: 32px;
}

.item-plano{
    flex: 1;
    border: 3px solid #0E2F59;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.btn{
    background-color: #0E2F59;
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;   
}

.item-plano .btn{
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.item-plano h3::after{
    content: "";
    background-color: #0E2F59;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px ;
}

.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-plano ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #0E2F59;
    margin-right: 5px;
}











.rodape{
    background-color: #0E2F59;
    height: 90px;
    align-items: center;
    color: #fff;
}

.rodape p{
    text-align: center;
    margin-top: 5px;
    padding: 10px;
}

/* mobile */

@media(min-width: 992pc){
 .flex-container{
      flex-direction: column;
 }

 .apresentacao{
     flex-direction: column-reverse;

 }
.apresentacao .texto-apresentacao{
    width: 100%;
}

#quem-somos{
    flex-direction: column-reverse;
}

#quem-somos img{
    min-width: 320px;
    margin: auto;
}

.list-serviços{
    flex-direction: column;
}

.item-serviço img{
    width: 50%;
    margin: auto;
}

.list-planos{
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.list-planos .item-plano{
    max-width: 90%;
    margin: auto;
    width: 100%;

}

}